<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">



  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<style>
.boxed {
    overflow: scroll;
padding: 5px 10px;
border: 1px solid black ;
 background-color: #000000;
  color : #ffffff;
}
</style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>MVP Deployment</title>

  </head>

  <body >
  <H3 ALIGN='CENTER'>Build Details</H3>
    <H4>Circleci link</H4>
    <a href="{{ build_info_item.circleci_url }}">{{ build_info_item.circleci_url }}</a>

    <H4>Committed By</H4>
    {{ build_info_item.commitor }}

    <H4>Branch</H4>
    {{ build_info_item.branch }}
    </br>
    </br>
<div class="row">
  <div class="col-md-12" >
      <div class="panel panel-default" >
                {% for list_item in serverbuildinfo_list %}
              <div class="row">
  <div class="col-md-12" >
      <div class="panel panel-default"  style = "margin:4; padding:4">
                            <table class="table">
                              <tr>
                                <th>Ip</th>
                                <th>Server Type</th>
                                <th>Process Return Boolean</th>
                              </tr>
                              <tr>
                <td>
                {{ list_item.ip }}</td>

                <td>
                {{ list_item.server_type }}</td>

               <td>
                {{ list_item.is_success }}</td>
                </tr>
                </table>
                </div>
                </div>
                </div>

                <H3>Console Output</H3>
              <div class="boxed"><pre> <code> {{ list_item.console_output }} </code></pre>
</div>
</br>
                {% endfor %}

    </div>

    </div>
    </div>

    </body>

</html>