<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">



  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>MVP Deployment</title>

  </head>

  <body style="background-color:#E6E6FA">

    {{ build_info_item.circleci_url }}

    {{ build_info_item.commitor }}

    {{ build_info_item.branch }}

<div class="row">
  <div class="col-md-12" >
      <div class="panel panel-default" >
            <table class="table">
              <tr>
                <th>Ip</th>
                <th>Server Type</th>
                <th>Process Return Boolean</th>
                <th>Console Output</th>
              </tr>
    {% for list_item in serverbuildinfo_list %}

         <tr>
                <td>{{ list_item.ip }}</td>
                <th>{{ list_item.server_type }}</th>
                <th>{{ list_item.is_success }}</th>
                <th>{{ list_item.console_output }}</th>
                <th>Configure</th>
                <th></th>
              </tr>
    
         </table>
          </div>

    </div>
    </div>
    
    
    <br>

    {% endfor %}



  </body>

</html>
