<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">



  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>MVP Deployment</title>

  </head>

  <body >
  <H3 ALIGN='CENTER'>Build Details</H3>
    <H4>Circleci link</H4>
    <a href="{{ build_info_item.circleci_url }}">{{ build_info_item.circleci_url }}</a>
    </br>

    <H4>Committed By</H4>
    {{ build_info_item.commitor }}
    </br>

    <H4>Branch</H4>
    {{ build_info_item.branch }}
    </br>

<div class="row">
  <div class="col-md-12" >
      <div class="panel panel-default" >
                {% for list_item in serverbuildinfo_list %}

                <H3>Ip</H3>
                {{ list_item.ip }}

                <H3>Server Type</H3>
                {{ list_item.server_type }}

                <H3>Process Return Boolean</H3>
                {{ list_item.is_success }}

                <H3>Console Output</H3>
               <code> {{ list_item.console_output }} </code>
    </br>
                {% endfor %}

    </div>

    </div>
    </div>
    
    </body>

</html>
